/* JOUNE-NOIR */
body[data-ac-activated="joune-noir"] ul>li>a {
    color: white;
}

body[data-ac-activated="joune-noir"] ul>li>a:hover {
    border-bottom: 1px solid yellow;
    color: yellow;
}

body[data-ac-activated="joune-noir"] footer {
    background-color: black;
}

body[data-ac-activated="joune-noir"] .footerSample-for {
    background-color: black;
    color: yellow !important;
    border: 1px solid yellow;
}

body[data-ac-activated="joune-noir"] .footerSample-for:hover {
    background-color: black;
    color: white !important;
    border: 1px solid white;
}

body[data-ac-activated="joune-noir"] .footerSample .footerSample-for:before {
    border-left-color: yellow;
}

body[data-ac-activated="joune-noir"] .footerSample .footerSample-for:hover:before {
    border-left-color: white;
}

body[data-ac-activated="joune-noir"] .footerSample .footerSample-for:after {
    border-left-color: black;
}

body[data-ac-activated="joune-noir"] .footerContact-joinUs {
    background-color: black;
    color: yellow !important;
    border: 1px solid yellow;
}

body[data-ac-activated="joune-noir"] .footerContact-joinUs:hover {
    background-color: black;
    color: white !important;
    border: 1px solid white;
}


body[data-ac-activated="joune-noir"] .footer-careersButton {
    background-color: yellow;
    color: black !important;
}

body[data-ac-activated="joune-noir"] .footer-careersButton:hover {
    background-color: white;
    color: black !important;
}