.contrasteContainer {
    padding: 5px;
    border: 1px solid black;
    background-color: white;
    width: 50px;
    height: 50px;
    transition: 0.1s;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 5px;
    left: 15px;
    overflow: hidden;
    border-radius: 30px;
}

.contrasteContainer:hover {
    width: 260px;
    transition-delay: 0.1s;
}

.contrasteContainer button {
    visibility: hidden;
    opacity: 0;
    display: none;
    height: 38px;
    width: 38px;
}

.contrasteContainer:hover button {
    transition-delay: 0.1s;
    visibility: visible;
    opacity: 1;
    display: block;
}

.contrasteContainer .visible {
    visibility: visible !important;
    opacity: 1;
    display: block;
    color: red;
    background-color: white;
}

button {
    border-radius: 100%;
    border: 1px solid black;
    font-size: larger;
}

.jouneNoir {
    background: black;
    color: yellow;
}

.blancBleu {
    background: white;
    color: darkblue;
}

.jouneBleu {
    background-color: #043e5f;
    color: yellow;
}

.bleuNoir {
    background-color: black;
    color: #00f3f3;
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.2);
}

.br-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-blue {
    background-color: #043e5f;
}

/* Alto contraste */

body[data-ac-activated="joune-noir"] .contrasteContainer {
    border: 1px solid white;
    background-color: black;
}

body[data-ac-activated="joune-noir"] .contrasteContainer button {
    border: 1px solid white;
}

body[data-ac-activated="blanc-bleu"] .contrasteContainer {
    border: 1px solid black;
    background-color: white;
}

body[data-ac-activated="joune-bleu"] .contrasteContainer {
    border: 1px solid white;
    background-color: #043e5f;
}

body[data-ac-activated="bleu-noir"] .contrasteContainer {
    border: 1px solid white;
    background-color: black;
}

body[data-ac-activated="bleu-noir"] .contrasteContainer button {
    border: 1px solid white;
}